.welcomeButton {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: transparent;
  border: none;
}

.welcomeButton img {
  width: 100%;
  height: 100%;
}
