.chat {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  background: var(--ctp-surface0);
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  max-width: 60%;
  margin: 5px 0;
  padding: 8px 12px;
  background: white;
  border-radius: 8px;
}

