# npm stuff
node_modules

# VSCode stuff
.vscode

# TypeScript build artifacts
dist
tsconfig.tsbuildinfo

# Lock files
package-lock.json

# User-specific directories
basilisk_data
peer_data

# Environment variables
.env

notes.MD