# npm stuff
node_modules

# VSCode stuff
.vscode

# TypeScript build artifacts
dist
tsconfig.tsbuildinfo

# Lock files
package-lock.json

# Environment variables
.env

# React Component Preview
previewConfig.json

# Pm2 configuration files
ecosystem.config.js
