# ecosystem.config.js.example

# Change the PUBLIC_DNS to your machine's public DNS
module.exports = {
  apps: [{
    name: "relay",
    cwd: "./apps/relay",
    script: "./dist/index.js",
    env: {
      PUBLIC_DNS: "your-public-dns"
    }
  }]
}