.addChat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 70%;
  background-color: var(--ctp-mantle);
  border-radius: 26px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--ctp-crust);
}

.wrapper {
  background-color: var(--ctp-mantle);
}

.header p {
  margin: 0;
  padding: 6px;
  padding-inline: 2rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--ctp-crust);
}

.spacer {
  border-top-left-radius: 1rem;
  flex: 1;
  background-color: var(--ctp-mantle);
}

.inputContainer {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: var(--ctp-crust);
  border-radius: 26px;
  margin: 1rem;
}

.input {
  outline: none;
  flex: 1;
  z-index: 1;
  height: 100%;
  padding: 6px;
  padding-left: 1rem;
  background: var(--ctp-base);
  border: 0;
  border-radius: 26px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.button {
  padding-inline: 1rem;
  background: var(--ctp-crust);
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 26px;
  border-top-right-radius: 8px;
  text-align: right;
}
