.inputBox {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: var(--ctp-crust);
  border-radius: 26px;
}

.inputBox input {
  outline: none;
  flex: 1;
  z-index: 1;
  height: 100%;
  padding: 6px;
  padding-left: 1rem;
  background: var(--ctp-mantle);
  border: 0;
  border-radius: 26px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.inputBox button {
  padding-inline: 1rem;
  background: var(--ctp-crust);
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 26px;
  border-top-right-radius: 8px;
  text-align: right;
}
