.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  gap: 0.5rem;
  position: absolute;
  padding-inline-end: 1.8rem;
}

.indicator {
  height: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.label {
  font-size: 0.8rem;
  color: var(--ctp-text);
}
