.app {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.sidebar {
  box-sizing: border-box;
  margin: 8px;
  display: flex;
  flex-direction: column;
  width: 60px;
  background: var(--ctp-base);
  border-radius: 26px;
  padding: 6px;
}

.contacts {
  flex: 1;
  overflow-y: auto;
  display: flex;
  background: var(--ctp-surface0);
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 26px;
}

.contact {
  width: 40px;
  height: 40px;
  margin: 5px 0;
  background: #a5e6a3;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 2px;
}

.sidebar-header img {
  width: 40px;
  height: 40px;
}

.sidebar-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  background: var(--ctp-surface0);
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 26px;
  width: auto;
}

.sidebar-footer {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 2px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.settingsButton {
  transition: transform 0.8s ease-in-out;
  transform-origin: center;
  display: inline-block;
}

.settingsButton:hover {
  transform: rotate(360deg);
}

.chat {
  margin: 8px;
  margin-left: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--ctp-base);
  border-radius: 30px;
}

.chat-header {
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  background: var(--ctp-base);
  height: 30px;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: var(--ctp-surface0);
  border-radius: 26px;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  background: white;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 8px;
  max-width: 60%;
}

.chat-input {
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  display: flex;
  padding: 10px;
  background: var(--ctp-base);
  height: 30px;
}

.chat-input input {
  background: var(--ctp-mantle);
  z-index: 1;
  flex: 1;
  padding: 8px;
  border: 0;
  outline: none;;
  border-radius: 26px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.chat-input button {
  background: var(--ctp-crust);
  margin-left: -30px;
  width: 5%;
  text-align: right;
  padding: 4px 8px;
  border: none;
  border-radius: 26px;
  border-top-right-radius: 8px;
  cursor: pointer;
}
