.welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px;
  padding: 6px;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: var(--ctp-base);
  border-radius: 26px;
}

.body {
  border-radius: 26px;
  height: 100%;
  background-color: var(--ctp-surface0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6px;
}

.body img {
  width: 30%;
  height: 30%;
  background-color: transparent;
}

.body h1 {
  color: var(--ctp-text);
  font-size: 24px;
}
