.wrapper {
  z-index: 2;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  height: 35px;
  flex-direction: row;
  justify-content: center;
}

.body {
  height: 100%;
  max-width: 50%;
  min-width: 20%;
  background-color: var(--ctp-mantle);
  border-radius: 9999px;
  margin: 8px;
  z-index: 2;
  hyphens: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  text-align: center;
  justify-content: center;
  padding-inline: 1rem;
}
