.sidebar {
  margin: 8px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  width: 60px;
  background: var(--ctp-base);
  border-radius: 26px;
  padding: 6px;
}

.chatContainer {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  background: var(--ctp-surface0);
  flex-direction: column;
  align-items: center;
  border-radius: 26px;
}

.header {
  padding: 6px;
  padding-top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  background: var(--ctp-surface0);
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 26px;
  width: 100%;
}

.footer {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 2px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
