.header {
  display: flex;
  flex-direction: row;
}

.tabContainer {
  display: flex;
  align-items: center;
  background-color: var(--ctp-mantle);
}

.tab {
  height: 100%;
  flex: 1;
  align-content: center;
  padding: 6px;
  padding-inline: 1.2rem;
  background-color: var(--ctp-crust);
  border-bottom-right-radius: 1.2rem;
}

.buttonContainer {
  flex: 1;
  background-color: var(--ctp-mantle);
  border-top-left-radius: 1.2rem;
  position: relative;
}

.button {
  all: unset;
  box-sizing: border-box;
  padding: 4px;
  padding-inline: 2rem;
  border-radius: 26px;
  margin: 6px;
  position: relative;
  background-color: var(--ctp-base);
  color: var(--ctp-subtext0);
  cursor: pointer;
}

.spacer {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--ctp-mantle);
}
