.settingsButton {
  background: none;
  margin: 2px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: transform 0.8s ease-in-out;
  transform-origin: center;
  display: inline-block;
}

.settingsButton:hover {
  transform: rotate(240deg);
}

.settingsButton svg {
    width: 100%;
    height: 100%;
    color: var(--ctp-text)
}