.mainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 26px;
  overflow: hidden;
  margin: 8px;
  background-color: var(--ctp-base);
  border-radius: 26px;
}

.header {
  display: flex;
  min-height: 26px;
  padding: 6px;
  align-content: center;
  justify-content: center;
  font-size: 12px;
}

.body {
  display: flex;
  flex: 1;
  border-radius: 26px;
  overflow: hidden;
  margin-left: 6px;
  margin-right: 6px;
  background-color: var(--ctp-surface0);
}

.footer {
  display: flex;
  min-height: 26px;
  padding: 8px;
  background: var(--ctp-base);
  border-bottom-right-radius: 26px;
  border-bottom-left-radius: 26px;
}
