.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 6px;
  background-color: var(--ctp-surface0);
}

.home img {
  width: 30%;
  height: 30%;
  background-color: transparent;
}

.home h1 {
  font-size: 24px;
  color: var(--ctp-text);
}
