.message {
  all: unset;
  box-sizing: border-box;
  width: fit-content;
  max-width: 60%;
  padding: 8px 1rem;
  background: var(--ctp-crust);
  color: var(--ctp-text);
  border-radius: 26px;
  hyphens: auto;
  overflow-wrap: break-word;
  position: relative;
  white-space: pre-wrap;
}

.message.error {
  cursor: pointer;
}

.message.error::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 26px;

  background-image: repeating-linear-gradient(
    45deg,
    var(--ctp-error) 0,
    var(--ctp-error) 4px,
    /* 4px dash */ transparent 4px,
    transparent 8px /* 4px gap (8px - 4px) */
  );
}

.container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  padding-bottom: 8px;
  padding-inline: 8px;
}

.avatarContainer {
  display: flex;
  height: 2rem;
  margin-inline: 4px;
}

.statusContainer {
  display: flex;
  margin-inline: 4px;
  align-items: center;
  height: 100%;
}
