name: Deploy to GitHub Pages

on:
  push:
    branches: [github]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
      - name: Build Web App
        run: npm run build --workspace=apps/web

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: apps/web/dist
          branch: gh-pages
